[Unit]
Description=Bettercap Service
After=network.target

[Service]
ExecStart=/root/start-mon.sh
WorkingDirectory=/root
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target
